* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

@font-face {
    font-family: 'League Spartan';
    src: local('League Spartan'), 
         url('../assets/fonts/LeagueSpartan.ttf') format('truetype');
    font-style: normal;
    font-optical-sizing: auto;
}
  
.calc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100svw;
    min-height: 100svh;
}

.calc-interface {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 460px;
    min-width: 300px;
    max-width: 90svw;
    flex-basis: 455px;
    height: 98svh;
    margin: 0px 20px 20px;
}

.calc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'League Spartan';
    font-weight: 500;
    letter-spacing: 1.5px;
    color: inherit;
    padding: 0px 12.5px;
    width: 100%;
    height: 8%;
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: last baseline;
    height: 100%;
}

.calc-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: absolute;
    column-gap: 5px;
    bottom: 28px;
    left: 24px;
    z-index: 1;
}

.calc-ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 18px;
    width: 100%;
    height: 100%;
    transition: height 0.3s ease-in-out,
                width 0.3s ease-in-out;
}

.calc-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 82%;
}

.calc-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.calc-help-sidebar {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 300px;
    height: 95svh;
    padding: 20px;
    border-radius: 22px 0 0 22px;
    position: absolute;
    right: 0px;
    transform: translateX(300px);
    transition: transform 0.3s ease-in-out;
}

.calc-help-sidebar {
    font-family: 'League Spartan';
    line-height: 1.5; 
    letter-spacing: 0.5px; 
}

.calc-help-sidebar-active {
    transform: translateX(0px);
}

.history-mobile {
    display: none;
    width: 0px;
    height: 0px;
    padding: 6px;   
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.history-mobile.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'League Spartan';
    line-height: 1.5; 
    letter-spacing: 0.5px; 
}

.sidebar-heading {
    font-size: 18px; 
    font-weight: 800; 
    text-transform: uppercase; 
    width: 50%;
}

.shortcut-list {
    min-height: 640px;
}

.shortcut-list, .history-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style-type: none;
    font-style: normal;
    font-optical-sizing: auto;
    margin: 2px;
}
.shortcut-item {
    min-width: 120px;
    min-height: 20px;
    max-height: 38px;
}

.shortcut-item, .history-expression, .history-result {
    cursor: pointer;
}

.shortcut-item, .history-item {
    border-radius: 6px;
}

.shortcut-item, .sidebar-heading {
    padding: 5px 10px;
}

.shortcut-key {
    display: inline-flex;
    font-size: 12.5px;
    font-weight: 550;
    padding: 4.5px 8.5px;
    border-radius: 6px;
    max-width: 202px;
    min-height: 20px;
    max-height: 28px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.shortcut-description {
    font-size: 14px;
    font-weight: 500;
}

.history-sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.history-content, .history-content-mobile {
    display: flex;
    flex-direction: column;
    max-height: 88%;
}

.history-content {
    flex-grow: 1;
}

.history-content-mobile {
    justify-content: space-between;
    height: 90%;
    width: 100%;
}

.history-list {
    max-height: 90%;
    justify-content: flex-start;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.history-content .history-list {
    flex-grow: 1;
    min-width: 220.962px;
    max-width: 280px;
}

.history-mobile.active .history-list {
    height: calc(74% - 4px);
    width: calc(90% - 4px);
}

.history-list::-webkit-scrollbar {
    width: 8.5px;
}

.history-list::-webkit-scrollbar-thumb {
    border-radius: 12px;
    cursor: pointer;
}

.history-item {
    letter-spacing: 1.5px;
    white-space: nowrap;
    margin: 12px 10px;
}

.history-expression, .history-result, .history-equals {
    font-weight: 450;
    text-align: center;
}

.history-expression, .history-result {
    display: inline-block;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    padding: 6px 10px;
    min-height: 35px;
    max-width: 95px;
    white-space: nowrap;
    overflow-x: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.history-content-mobile .history-item {
    display: flex;
    flex-grow: 1;
    max-height: 35px;
    max-width: calc(95% - 16px);
    letter-spacing: 1px;
    margin: 10px 8px;
}

.history-content-mobile .history-expression, 
.history-content-mobile .history-result,
.history-content-mobile .history-equals {
    font-size: 14.5px;
    font-weight: 400;
    padding: 6px 8px;
}

.history-content-mobile .history-entry{
    max-width: 70px;
}

.history-equals {
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 18px;
    padding: 5px;
    vertical-align: middle;
}

.history-actions {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10%;
}

.clear-history-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'League Spartan';
    font-size: 13px;
    font-weight: 450;
    letter-spacing: 0.45px;
    text-transform: uppercase;
    margin-bottom: 8px;
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 6px;
    outline: 1.5px solid rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(0, 1);
    transition: transform 0.25s 0.1s ease-in-out;
}

.history-content-mobile .clear-history-btn {
    width: 70%;
}

.clear-history-btn.active-btn {
    transform: scale(1, 1);
}

.clear-history-btn.active-btn:hover {
    transform: scale(1, 1) translateY(-5px);
}

.clear-history-btn > span{
    padding: 10px;
    text-align: center;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: inherit;
    padding: 3px
}

.menu-btn:hover {
    opacity: 1;
}

.menu-btn > img {
    width: 19px;
    height: 19px;
}

.theme-container {
    display: flex;
    justify-content: center;
    align-items: last baseline;
    height: 100%;
}

.theme-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.theme-indicator {
    box-sizing: content-box;
    width: 71px;
    padding: 1px 6.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    column-gap: 1px;
}

.theme-choice {
    width: 16px;
    height: 16px;
    font-size: 16px;
}

#theme-switch[role='switch'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: content-box;
    font-size: inherit;
    width: 71px;
    height: 26px;
    border-radius: 15px;
    padding: 1px 6.5px;
    outline: none;
    opacity: 0.95; 
    cursor: pointer;
}

/* WebKit Browsers (Chrome, Safari, Edge) */
#theme-switch[role='switch']::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#theme-switch[role='switch']::-moz-range-thumb {
    border: none;
    border-radius: 50%;
    background-color: rgb(208, 63, 47);
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.calc-display, .calc-keypad {
    width: 100%;
    padding: 16px 32px 16px 22px;
    border-radius: 6px;
}

.calc-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 22.5%;
    position: relative;
}

#display-value-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 98%;
}

.number-display {
    width: 100%;
    font-family: 'League Spartan';
    font-weight: 500;
    letter-spacing: 1.5px;
    caret-color: rgb(255, 255, 255);
    color: inherit;
    text-align: end;
    background-color: transparent;
    position: relative;
}

#expression-display {
    font-size: 30.5px;
    margin-top: 6px;
    height: 50%;
}

.error-state {
    color:rgba(254, 85, 79, 0.886);
}

#expression-display, #expression-display:focus, #result-display {
    border: none;
    outline: none;
}

#result-display {
    font-size: 24px;
    opacity: 0.60;
    height: 50%;
}

.calc-keypad {
    display: flex;
    width: 100%;
    height: 75%;
    padding: 38px 32px;
}

.keypad-content {
    display: flex;
    width: 100%;
    height: 100%;
    column-gap: 4.75%;
}

.keypad-column {
    display: flex;
    flex-direction: column;
    row-gap: 6%;
    height: 100%;
    flex-basis: 15.25%;
}

#keypad-column-0 {
    transition: flex-shrink 0.35s 0.05s ease-in-out;
}

.history-mode.keypad-column {
    display: none;
}

.history-mode#keypad-column-0 {
    display: flex;
    flex-basis: auto;
    row-gap: 0px;
    width: 75%;
}

.history-mode#keypad-column-0 .key {
    display: none;
}

.history-mode#keypad-column-4 {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
}

.calc-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#vertical-line {
    border-right-width: 0.25px;
    border-right-style: solid;
    height: 95%;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    border: none;
    border-radius: 6px;
    color: inherit;
    cursor: pointer;
    transition: background-position 0.25s 0.05s ease-in-out;
}

.calc-container .calc-keypad .key:hover, .calc-container .calc-keypad #key-equals:hover {
    background-position: top;
}

.key:active {
    transform: scale(0.95);
    transform: translate3d(0, 5px, -10px);
    box-shadow: 0px 0px 0px rgb(179, 164, 151), 
                0px 4px 4px rgba(0, 0, 0, 0.25);
}

.key-control, #key-equals {
    color: rgb(255, 255, 255);;
}

.key-control > .key-text {
    text-transform: uppercase;
}

.key-text {
    font-family: 'League Spartan';
    font-size: 20.5px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

/* Tablets and small laptops */
@media only screen and (min-width: 712px) and (max-width: 1025px) {
    .key-text {
        font-size: 26px;
    }

    .calc-title {
        font-size: 36px;
    }

    #expression-display {
        font-size: 30px;
    }

    #result-display {
        font-size: 26px;
    }

    .theme-container {
        height: 85%;
    }

    .theme-choice {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }

    /* Taller tablet screens */
    @media only screen and (min-height: 954px) and (max-height: 1370px) {
        .calc-interface {
            flex-grow: 1;
            max-width: 82.5svw;
        }

        .calc-header {
            height: 6.5%;
        }

        .calc-display {
            height: 20%;
        }
    }
}

/* Small phones */
@media only screen and (min-width: 320px) and (max-width: 431px) {
    .calc-interface {
        flex-basis: 350px;
        flex-grow: 0;
    }

    #expression-display {
        font-size: 28.5px;
    }

    #result-display {
        font-size: 22.5px;
    }

    .calc-title {
        font-size: 22.5px;
    }

    .theme-container {
        width: 60px;
        height: 90%;
    }

    .theme-indicator {
        width: 100%;
    }

    #theme-switch[role='switch'] {
        width: 100%;
        height: 16.5px;
        padding: 1.5px 5px;
    }

    #theme-switch[role='switch']::-webkit-slider-thumb {
        width: 14px;
        height: 14px;
    }

    .calc-display, .calc-keypad {
        padding-left: 24px;
        padding-right: 24px;
    }

    .calc-keypad {
        column-gap: 3.75%;
    }

    .calc-settings {
        bottom: 28px;
        left: 20px;
    }

    .menu-btn {
        width: 21.5px;
        height: 21.5px;
    }

    /* Very short small phones (480px height) */
    @media only screen and (height: 480px) {
        .calc-interface {
            min-width: 280px;
        }

        .calc-ui {
            height: 92svh;
        }

        .calc-header {
            height: 10%;
        }

        .calc-title {
            font-size: 20px;
        }

        .theme-container {
            height: 100%;
        }
    
        .theme-indicator {
            width: 100%;
        }

        .theme-choice {
            width: 14px;
            height: 14px;
            font-size: 14px;
        }
    
        #theme-switch[role='switch'] {
            width: 100%;
            height: 18px;
            padding: 2px 5px;
        }
    
        #theme-switch[role='switch']::-webkit-slider-thumb {
            width: 11.5px;
            height: 11.5px;
        }

        .calc-layout {
            height: 82%;
        }

        #expression-display {
            font-size: 21.5px;
        }

        #result-display {
            font-size: 17.5px;
        }

        .calc-body {
            row-gap: 10px;
        }

        .calc-display {
           height: 25%; 
        }

        .calc-settings {
            bottom: 16px;
            left: 16px;
        }
    
        .menu-btn {
            width: 20px;
            height: 20px;
        }

        .calc-keypad {
            padding: 30px 24px;
            height: 75%;
            column-gap: 5%;
        }

        .keypad-column {
            row-gap: 5%;
        }

        .key-text {
            font-size: 15.5px;
        }
    }

    /* Short small phones (640px height) */
    @media only screen and (height: 640px) {
        .calc-settings {
            left: 20px;
            bottom: 20px;
        }
    }

    /* Medium short phones (658px–745px height) */
    @media only screen and (min-height: 658px) and (max-width: 745px) {
        .calc-ui {
            height: 88svh;
        }
    }

    /* Medium phones (740px–790px height) */
    @media only screen and (min-height: 740px) and (max-height: 790px) {
        .calc-ui {
            height: 95svh;
        }

        .calc-settings {
            left: 18px;
            bottom: 28px;
        }
    }

    /* iPhone X and Mini series (812px–825px height) */
    @media only screen and (min-height: 812px) and (max-height: 825px) {
        .calc-ui {
            height: 80svh;
        }

        .key-text {
            font-size: 20px;
        }
    }

    /* iPhone 12–14 standard models (844px–932px height) */
    @media only screen and (min-height: 844px) and (max-height: 932px) {
        .calc-ui {
            height: 72svh;
        }

        .key-text {
            font-size: 20px;
        }

        #expression-display {
            font-size: 26.5px;
        }
    }
}