* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100svw;
    min-height: 100svh;
    background-color: rgb(58, 70, 99);
}

.calc-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 672px;
    row-gap: 24px;
}

.calc-display, .calc-keypad {
    width: 100%;
    background-color: rgb(24, 31, 51);
    padding: 24px 32px 28px;
    border-radius: 10px;
}

.calc-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 138px;
}

#display-value-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 14px;
}

.number-display {
    width: 100%;
    font-family: 'League Spartan';
    font-weight: 500;
    font-style: normal;
    font-optical-sizing: auto;
    letter-spacing: 1.5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0.5);
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-align: end;
    background-color: transparent;
}

#expression-display {
    font-size: 44px;
    margin-top: 6px;
}

#expression-display, #expression-display:focus, #result-display {
    border: none;
    outline: none;
}

#result-display {
    font-size: 28px;
    opacity: 0.60;
}

.calc-keypad {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px 18px;
    padding: 32px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101px;
    height: 72px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to top, rgb(234, 227, 220) 50%,  rgb(255, 255, 254) 50%);
    background-size: 100% 200%;
    background-position: bottom;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: inset 0px -4px 0px rgb(179, 164, 151);
    cursor: pointer;
    transition: background-position 0.25s 0.05s ease-in-out;
}

.key:hover {
    background-position: top;
}

.key:active {
    transform: scale(0.95);
    transform: translate3d(0, 5px, -10px);
    box-shadow: 0px 0px 0px rgb(179, 164, 151), 
                0px 4px 4px rgba(0, 0, 0, 0.25);
}

#key-AC, #key-equals {
    width: 226px;
}

#key-equals {
    background: linear-gradient(to top, rgb(208, 63, 47) 50%,  rgb(249, 107, 91) 50%);
    background-size: 100% 200%;
    background-position: bottom;
    box-shadow: inset 0px -4px 0px rgb(147, 38, 26);
}

#key-equals:hover {
    background-position: top;
}

#key-AC, #key-del {
    background: linear-gradient(to top, rgb(100, 113, 152) 50%,  rgb(163, 178, 225) 50%);
    background-size: 100% 200%;
    background-position: bottom;
    box-shadow: inset 0px -4px 0px rgb(65, 78, 115);
}

#key-AC:hover, #key-del:hover {
    background-position: top;
}

#key-AC > .key-text, #key-del > .key-text, #key-equals > .key-text {
    color: rgb(255, 255, 255);
}

.key-text {
    font-family: 'League Spartan';
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    font-optical-sizing: auto;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgb(67, 74, 89);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}