* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(58, 70, 99);
}

.calc-body {
    width: 540px;
    height: 710px;
    background-color: rgba(12, 14, 18, 0.649);
}

.calc-display {
    height: 18%;
    background-color: rgb(24, 31, 51);
}

.calc-keypad {
    height: 82%;
    background-color: rgb(24, 31, 51);
}