
/* Theme 1 (Default) */

/* Calculator Styles */
.theme-default {
    background-color: rgb(58, 70, 99);
    color: rgb(255, 255, 255);
}

/* Display Styles */
.theme-default .calc-display {
    background-color: rgb(24, 31, 51);
}

/* Button Styles */
.theme-default .menu-btn:hover, .theme-default .menu-btn-active {
    background-color: rgb(83, 93, 121);
}

.theme-default .menu-btn-active > img {
    filter: contrast(250%) saturate(250%);
}

/* Vertical Separator */
.theme-default #vertical-line {
    border-right-color: rgba(198, 198, 198, 0.5);
}

/* Keypad Styles */
.theme-default .calc-keypad {
    background-color: rgb(24, 31, 51);
    color: rgb(0, 0, 0);
}

.theme-default .calc-keypad .key {
    background: linear-gradient(to top, rgb(234, 227, 220) 50%, rgb(255, 255, 254) 50%);
    background-size: 100% 200%;
    background-position: bottom;
    box-shadow: inset 0px -4px 0px rgb(179, 164, 151);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.theme-default .calc-keypad .key-control {
    background: linear-gradient(to top, rgb(100, 113, 152) 50%, rgb(163, 178, 225) 50%);
    background-size: 100% 200%;
    background-position: bottom;
    box-shadow: inset 0px -4px 0px rgb(65, 78, 115);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.theme-default .calc-keypad #key-equals {
    background: linear-gradient(to top, rgb(178, 50, 50) 50%, rgb(220, 70, 70) 50%);
    background-size: 100% 200%;
    background-position: bottom;
    box-shadow: inset 0px -4px 0px rgb(140, 35, 35);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
}

/* Sidebar Styles */
.theme-default .calc-help-sidebar, 
.theme-default .history-mobile.active {
    background: linear-gradient(to right, rgb(60, 75, 115), rgb(48, 60, 89));
    color: rgb(230, 230, 230); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.theme-default .shortcut-item:hover,
.theme-default .calc-help-sidebar .history-expression:hover, 
.theme-default .calc-help-sidebar .history-result:hover  {
    background-color: rgba(120, 133, 172, 0.6); 
    box-shadow: 0 0 10px rgba(120, 133, 172, 0.5); 
}

.theme-default .calc-help-sidebar .shortcut-key,
.theme-default .calc-help-sidebar .history-expression, 
.theme-default .calc-help-sidebar .history-result,
.theme-default .history-mobile.active .history-expression,
.theme-default .history-mobile.active .history-result {
    background-color: rgba(100, 113, 152, 0.5);
    outline: 1.5px solid rgb(230, 230, 230);
}

/* Clear Button Styles / Scrollbar Styles */
.theme-default .clear-history-btn, 
.theme-default .history-list::-webkit-scrollbar-thumb {
    background-color: rgb(100, 113, 152);
    box-shadow: inset 0px -3px 0px rgb(65, 78, 115);
}

.theme-default .history-list {
    scrollbar-color: rgba(0, 0, 0, 0) rgb(163, 178, 225);
}

.theme-default .clear-history-btn:hover,
.theme-default .history-list::-webkit-scrollbar-thumb:hover {
    background-color: rgb(163, 178, 225);
}

/* Slider Styles */
.theme-default #theme-switch[role='switch'] {
    background-color: rgb(36, 45, 68);
}

.theme-default #theme-switch[role='switch']::-webkit-slider-thumb {
    background-color: rgb(208, 63, 47);
}

.theme-default #theme-switch[role='switch']::-moz-range-thumb {
    background-color: rgb(208, 63, 47);
}

.theme-default #theme-switch[role='switch']::-webkit-slider-thumb:hover {
    background-color: rgb(249, 107, 91);
}

.theme-default #theme-switch[role='switch']::-moz-range-thumb:hover {
    background-color: rgb(249, 107, 91);
}

/* Theme 2 (Light) */

/* Calculator styles */
.theme-light {
    background-color: rgb(176, 176, 176);
    color: rgb(54, 54, 44);
}

/* Display Styles */
.theme-light .calc-display {
    background-color: rgb(210, 205, 205);
}

/* Button Styles */
.theme-light .menu-btn:hover, .theme-light .menu-btn-active {
    background-color: rgba(155, 153, 153, 0.625);
}

.theme-light .menu-btn-active > img {
    filter: brightness(230%) hue-rotate(125deg) contrast(200%) saturate(350%);
}

/* Vertical Separator */
.theme-light #vertical-line {
    border-right-color: rgb(54, 54, 44, 0.5);
}

/* Keypad Styles */
.theme-light .calc-keypad {
    background-color: rgb(210, 205, 205);
}

.theme-light .calc-keypad .key {
    background: linear-gradient(to top, rgb(229, 228, 225) 50%, rgb(255, 255, 255) 50%);
    background-size: 100% 200%;
    background-position: bottom;
    box-shadow: inset 0px -4px 0px rgb(211, 211, 209);
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.theme-light .calc-keypad .key-control {
    background: linear-gradient(to top, rgb(55, 129, 135) 50%, rgb(98, 181, 188) 50%);
    background-size: 100% 200%;
    background-position: bottom;
    box-shadow: inset 0px -4px 0px rgb(55, 129, 135);
}

.theme-light .calc-keypad #key-equals {
    background: linear-gradient(to top, rgb(200, 84, 2) 50%, rgb(241, 115, 26) 50%);
    background-size: 100% 200%;
    background-position: bottom;
    box-shadow: inset 0px -4px 0px rgb(160, 50, 20);
}

/* Sidebar Styles */
.theme-light .calc-help-sidebar,
.theme-light .history-mobile.active {
    background: linear-gradient(to right, rgb(187, 186, 186), rgb(205, 201, 201));
    color: rgb(40, 40, 40);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.theme-light .calc-help-sidebar .shortcut-key,
.theme-light .calc-help-sidebar .history-expression, 
.theme-light .calc-help-sidebar .history-result,
.theme-light .history-mobile.active .history-expression,
.theme-light .history-mobile.active .history-result {
    background-color: rgba(80, 80, 80, 0.15);
    outline: 1.5px solid rgb(40, 40, 40);
}

.theme-light .shortcut-item:hover,
.theme-light .calc-help-sidebar .history-expression:hover, 
.theme-light .calc-help-sidebar .history-result:hover {
    background-color: rgba(200, 84, 2, 0.4);
    box-shadow: 0 0 8px rgba(241, 115, 26, 0.4);
}

/* Clear Button Styles / Scrollbar Styles */
.theme-light .clear-history-btn,
.theme-light .history-list::-webkit-scrollbar-thumb {
    background-color: rgb(190, 109, 58);
    box-shadow: inset 0px -3px 0px rgb(160, 75, 35);
}

.theme-light .history-list {
    scrollbar-color: rgba(0, 0, 0, 0) rgb(211, 139, 92);
}

.theme-light .clear-history-btn:hover,
.theme-light .history-list::-webkit-scrollbar-thumb:hover {
    background-color: rgb(211, 139, 92);
}

/* Slider Styles */
.theme-light #theme-switch[role='switch'] {
    background-color: rgb(210, 205, 205);
}

.theme-light #theme-switch[role='switch']::-webkit-slider-thumb {
    background-color: rgb(200, 84, 2);
}

.theme-light #theme-switch[role='switch']::-moz-range-thumb {
    background-color: rgb(200, 84, 2);
}

.theme-light #theme-switch[role='switch']::-webkit-slider-thumb:hover {
    background-color: rgb(255, 138, 56);
}

.theme-light #theme-switch[role='switch']::-moz-range-thumb:hover {
    background-color: rgb(255, 138, 56);
}

/* Theme 3 (Dark) */

/* Calculator Styles */
.theme-dark {
    background-color: rgb(23, 6, 42);
    color: rgb(255, 229, 61);
}

/* Display Styles */
.theme-dark .calc-display {
    background-color: rgb(30, 9, 54)
}

/* Button Styles */
.theme-dark .menu-btn:hover, .theme-dark .menu-btn-active {
    background-color: rgb(75, 35, 145);
}

.theme-dark .menu-btn-active > img {
    filter: contrast(250%) hue-rotate(175deg) saturate(260%);
}

/* Vertical Separator */
.theme-dark #vertical-line {
    border-right-color: rgb(255, 229, 61, 0.5);
}

/* Keypad Styles */
.theme-dark .calc-keypad {
    background-color: rgb(30, 9, 54);
}

.theme-dark .calc-keypad .key {
    background: linear-gradient(to top, rgb(51, 28, 77) 50%, rgb(108, 52, 172) 50%);
    background-size: 100% 200%;
    background-position: bottom;
    box-shadow: inset 0px -4px 0px rgb(90, 40, 130);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.theme-dark .calc-keypad .key-control {
    background: linear-gradient(to top, rgb(86, 7, 124) 50%, rgb(134, 49, 175) 50%);
    background-size: 100% 200%;
    background-position: bottom;
    box-shadow: inset 0px -4px 0px rgb(100, 30, 145);
}

.theme-dark .calc-keypad #key-equals {
    background: linear-gradient(to top, rgb(120, 90, 0) 50%, rgb(150, 115, 10) 50%);
    background-size: 100% 200%;
    background-position: bottom;
    box-shadow: inset 0px -4px 0px rgb(90, 70, 0);
}

.theme-dark .calc-keypad #key-equals > .key-text {
    color: rgb(255, 255, 255);
}

/* Sidebar Styles */
.theme-dark .calc-help-sidebar,
.theme-dark .history-mobile.active {
    background: linear-gradient(to right, rgb(40, 20, 80), rgb(25, 10, 50));
    color: rgb(206, 206, 43);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.6);
}

.theme-dark .calc-help-sidebar .shortcut-key,
.theme-dark .calc-help-sidebar .history-expression, 
.theme-dark .calc-help-sidebar .history-result,
.theme-dark .history-mobile.active .history-expression,
.theme-dark .history-mobile.active .history-result {
    background-color: rgba(255, 229, 61, 0.3);
    outline: 1.5px solid rgb(220, 220, 220);
}

.theme-dark .shortcut-item:hover,
.theme-dark .calc-help-sidebar .history-expression:hover, 
.theme-dark .calc-help-sidebar .history-result:hover {
    background-color: rgba(120, 90, 0, 0.4);
    box-shadow: 0 0 10px rgba(120, 90, 0, 0.4);
}

/* Clear Button Styles / Scrollbar Styles */
.theme-dark .clear-history-btn,
.theme-dark .history-list::-webkit-scrollbar-thumb {
    background-color: rgba(86, 17, 118, 0.773); 
    box-shadow: inset 0px -3px 0px rgb(70, 20, 105); 
}

.theme-dark .history-list {
    scrollbar-color: rgba(0, 0, 0, 0) rgb(106, 43, 137);
}

.theme-dark .clear-history-btn:hover,
.theme-dark .history-list::-webkit-scrollbar-thumb:hover {
    background-color: rgb(106, 43, 137); 
}

/* Slider Styles */
.theme-dark #theme-switch[role='switch'] {
    background-color: rgb(65, 35, 95);
}

.theme-dark #theme-switch[role='switch']::-webkit-slider-thumb {
    background-color: rgb(200, 180, 40);;
}

.theme-dark #theme-switch[role='switch']::-moz-range-thumb {
    background-color: rgb(200, 180, 40);;
}

.theme-dark #theme-switch[role='switch']::-webkit-slider-thumb:hover {
    background-color: rgb(225, 200, 50);
}

.theme-dark #theme-switch[role='switch']::-moz-range-thumb:hover {
    background-color: rgb(225, 200, 50);
}